@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1557683304-673a23048d34?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fEJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
  size: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.app {
  font-family: 'Poppins',sans-serif;
  text-align: center;
}

.head {
  color: rgb(231, 212, 103);
  font-weight: 600;
  padding-top: 20px;
  font-size: 48px;
  align-items: center;
  text-align: center;

}

.app.warm {
  background-image: url('https://images.unsplash.com/photo-1557682257-2f9c37a3a5f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z3JhZGllbnR8ZW58MHx8MHxyZWR8&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

.search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35px;
  margin: auto;
  width: 50%;
  color: black;
  margin-top: 50px;
  z-index: 1;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  border-radius: 15px;
  margin: 8px 0;
  z-index:3;
  background-color: rgb(231, 238, 172);
}

.search-bar {
  border: none;
  outline: none;
  font-size: 18px;
  color: rgb(224, 109, 16);
  margin: auto;
  padding: auto;

}

.location-box {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(50, 205, 184);
  padding: 0 20px;
  font-weight: bold;
}

.location {
  font-size: 38px;
  font-weight: bold;
}

.date {
  font-size: 28px;
  color: rgb(50, 205, 184);
  font-weight: bold;
}

.weather-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(10, 10, 10);
  font-weight: bold;
}

.temp {
  font-size: 72px;
  margin-top: 20px;
  margin-bottom: -20px;
  color: rgb(64, 226, 43);
  font-weight: 400;
  padding-bottom: -20px;
}

.weather {
  padding-top: -35px;
  font-size: 48px;
  color: rgb(18, 228, 200);
  font-weight: 600;
}
